{% extends "finance/layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
  
    <form action="/sell" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="symbol">
          <option>Symbol</option>
          {% for stock in stocks %}
            {% if sell_symbol == stock.symbol %}
                <option name="symbol" selected="" value="{{stock.symbol}}">{{stock.symbol}}</option>
            {% else %}
                <option name="symbol" value="{{stock.symbol}}">{{stock.symbol}}</option>
            {% endif %}
          {% endfor %}
      </select>
      </div>
      <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number">
      </div>
      <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}